/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 mar. 2022, 12:46:37
    Author     : allof
*/

body{font-family:Arial; font-size:20px}
input{font-family:Arial; font-size:25px}

p{font-size:25px}
#opcionessesion{position: absolute; top: 0px; right: 0px;}